<div class="transactions-page">
  <p *ngIf="message" class="message">{{ message }}</p>

  <!-- TRANSACTIONS HEADER -->
  <div class="transactions-header">
    <h1>Transactions</h1>
    <div class="transaction-search">
      <input
        type="text"
        [(ngModel)]="searchInput"
        placeholder="Search transactions .."
      />
      <button (click)="handleSearch()">Search</button>
    </div>
  </div>

  <!-- TRANSACTIONS TABLE -->
  <div *ngIf="transactions.length > 0">
    <table class="transactions-table">
      <thead>
  <tr>
    <th>
      TYPE
      <span (click)="sortBy('transactionType', 'asc')">▲</span>
      <span (click)="sortBy('transactionType', 'desc')">▼</span>
    </th>
    <th>
      STATUS
      <span (click)="sortBy('status', 'asc')">▲</span>
      <span (click)="sortBy('status', 'desc')">▼</span>
    </th>
    <th>
      TOTAL PRICE
      <span (click)="sortBy('totalPrice', 'asc')">▼</span>
      <span (click)="sortBy('totalPrice', 'desc')">▲</span>
    </th>
    <th>
      TOTAL PRODUCTS
      <span (click)="sortBy('totalProducts', 'asc')">▼</span>
      <span (click)="sortBy('totalProducts', 'desc')">▲</span>
    </th>
    <th>
      DATE
      <span (click)="sortBy('createdAt', 'asc')">▼</span>
      <span (click)="sortBy('createdAt', 'desc')">▲</span>
    </th>
    <th>ACTIONS</th>
  </tr>
</thead>


      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transactionType }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.totalPrice }}</td>
          <td>{{ transaction.totalProducts }}</td>
          <td>{{ transaction.createdAt | date : "short" }}</td>
          <td>
           
  <button (click)="navigateTOTransactionsDetailsPage(transaction.id)" class="btn btn-link p-0" title="View Details">
  <i class="fas fa-eye"></i>
</button>


  <!-- QUICK STATUS UPDATE -->
  <div class="quick-status-update">
    <label>Status:</label>
    <select [(ngModel)]="transaction.status">
      <option value="PENDING">PENDING</option>
      <option value="PROCESSING">PROCESSING</option>
      <option value="COMPLETED">COMPLETED</option>
      <option value="CANCELED">CANCELED</option>
    </select>
    <button (click)="quickUpdateStatus(transaction.id, transaction.status)">
      Update
    </button>
  </div>
</td>


        </tr>
        
      </tbody>
    </table>
  </div>

  <!-- PAGINATION COMPONENT -->
  <app-pagination
    *ngIf="transactions.length > 0"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>

  <!-- NO TRANSACTIONS MESSAGE -->
  <div *ngIf="transactions.length === 0">
    <p>No sales transactions found.</p>
  </div>
</div>